<head th:fragment="head">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
    crossorigin="anonymous"
  />
  <title>SUASCON VIGEEKS II</title>
</head>

<header th:fragment="header" id="header">
  <div class="p-3 mb-2 bg-info-subtle text-info-emphasis">
    <nav class="nav justify-content-center">
		

      <li class="nav-item">
        <a class="nav-link active" aria-current="page" th:href="@{/}">INICIO</a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link active"
          aria-current="page"
          th:href="@{/users}"
          sec:authorize="hasRole('ROLE_ADMIN')"
          >USUARIOS</a
        >
      </li>

      <li sec:authorize="hasRole('ROLE_ADMIN')">
        <div class="dropdown">
          <a
            class="nav-link dropdown-toggle"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            aria-current="page"
            >GESTIÓN DE PRODUCTOS</a
          >

          <ul class="dropdown-menu">
            <li>
              <a
                class="dropdown-item"
                aria-current="page"
                th:href="@{/products}"
                >PRODUCTOS</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                aria-current="page"
                th:href="@{/categories}"
                >CATEGORIAS</a
              >
            </li>
          </ul>
        </div>
        <!--
								<ul>
									<li><a href="#">OPCION 1.2.1</a></li>
									<li><a href="#">OPCION 1.2.2</a></li>
								</ul>
							-->
      </li>
      <li sec:authorize="hasRole('ROLE_ADMIN')">
        <a class="nav-link active" aria-current="page" th:href="@{/orders}"
          >PEDIDOS</a
        >
      </li>
      <li sec:authorize="hasRole('ROLE_CLIENTE')">
        <a class="nav-link active" aria-current="page" href="#">CATÁLOGO</a>
      </li>
      <li sec:authorize="hasRole('ROLE_CLIENTE')">
        <a class="nav-link active" aria-current="page" href="#">MIS PEDIDOS</a>
      </li>
      <li sec:authorize="isAnonymous()">
        <a class="nav-link active" aria-current="page" th:href="@{/login}"
          >INICIAR SESIÓN</a
        >
      </li>
      <li sec:authorize="isAuthenticated()">
        <a
          class="nav-link active"
          aria-current="page"
          href="#"
          onclick="document.getElementById('logoutForm').submit();"
          >SALIR</a
        >
        <form
          id="logoutForm"
          th:action="@{/logout}"
          method="post"
          style="display: none"
        >
          <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
        </form>
      </li>
    </nav>
  </div>
</header>

<footer th:fragment="footer">
  <script type="text/javascript" th:src="@{/js/script.js}"></script>
</footer>
